@font-face {
    font-family: 'XXII Arabian OneNightStand Cyr'; /* Гарнитура шрифта */
    src: url(fonts/15364.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'ArabiaCyrillic-Regular'; /* Гарнитура шрифта */
    src: url(fonts/15522.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Kanonnik UCS'; /* Гарнитура шрифта */
    src: url(fonts/10410.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'ljk_Remains'; /* Гарнитура шрифта */
    src: url(fonts/16880.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Mason Chronicles';
    src: url(fonts/Mason_Chronicles.ttf);
}

* {
    font-family: 'Mason Chronicles', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100px;
    color: #e6e6fa;
    scroll-behavior: smooth;
    overflow-x:hidden; 
}
body {
    background: #8b816d;
}
header {
    background:#686052;
}
.all_content {
    margin: 0 auto;
    height: 100%;
}
.race_block strong {
    color: #3f3c38; 
    text-shadow: 0px 0px 3px lavender;
}
.block_headline {
    color: #eade93;
    font-size: 0.87rem;
    text-shadow: #412d27 0 10px 10px;
    text-align: center;
    padding: 0 0 20px 0;
}

.logo {
    background:#686052;
    text-align: center;
}

.race_block {
    display: flex;
    flex-direction: column;
}
.race_block ul {
    list-style-type: none;
}

.race_table {
    /* flex: 1; */
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.dwarf_row, .elf_row, .human_row {
    font-size: 0.24rem;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-shadow: 0px 0px 2px #3f3c38;
}

.dwarf_history {
    flex-basis: 26%;
}
.dwarf_stats {
    flex-basis: 37.5%;
}
.photo_DF_DM {
    flex-basis: 31.5%;
    display: flex;
    justify-content: space-around;
}

.elf_history {
    flex-basis: 23.5%;
    order: 1;
}
.elf_stats {
    flex-basis: 38.5%;
    order: 3;
}
.photo_EF_EM {
    flex-basis: 35%;
    display: flex;
    justify-content: space-around;
    order: 4;
}

.human_history {
    flex-basis: 40%;
}
.human_stats {
    flex-basis: 19.5%;
}
.photo_HF_HM {
    flex-basis: 37.5%;
    display: flex;
    justify-content: space-around;
}


.flowers {
    flex-basis: 3%;
    padding: 0 3px 0 3px;
}
.elf_row .flowers {
    order: 2;
}
.flowers img {
    max-height: 460px;
    height: 100%;
}

.name_race {
    background:#978c76;
    font-size: 0.67rem;
    color: #3f3c38;
    text-align: center;
    margin: 0 0 10px 0;
    min-width: 100vw;
}
.photo {
    height: 500px;
}
.photo_DF {
    background: url(images/Dwarf_F.png) bottom left no-repeat;
    background-size: auto 100%;
}
.photo_DM {
    background: url(images/Dwarf_M.png) bottom left no-repeat;
    background-size: auto 100%;
}
.photo_EF {
    background: url(images/elf_f.png) bottom left no-repeat;
    background-size: auto 100%;
}
.photo_EM {
    background: url(images/elf_m.png) bottom left no-repeat;
    background-size: auto 100%;
}
.photo_HF {
    background: url(images/human_f.png) bottom left no-repeat;
    background-size: auto 100%;
}
.photo_HM {
    background: url(images/human_m.png) bottom left no-repeat;
    background-size: auto 100%;
}
.focus {
    height: 100%;
    opacity: 0;
    transition-duration: 0.25s;
    cursor: pointer;
}
.focus:hover, .focus-active {
    transition-duration: 0.4s;
    opacity: 1;
}

.decoration {
    float: left;
    padding-right: 9px;
    width: 1.15rem;
}

.class_block {
    display: none;
    /* margin: 0 auto;
    width: 100%;
    max-width: 1903px; */
}
.class_block_visible {
    display: block;
}
.class_table {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 0 1vw 0;
    max-width: 1903px;
    text-align: center;
}
.class_table p {
    margin: 1% 1% 1% 1%;
}
.name_class_background {
    height: 140px;
    line-height: 140px;
    margin: 0 auto;
    width: 80%;
    max-width: 1903px;
}
.name_class {
    font-size: 0.87rem;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    /* overflow: hidden; */
    /* background: unset; */
    text-align: left;
    color: #a09a8f;
    /* text-shadow: #000000 0px 15px 10px; */
    /* transition: 0.4s; */
    text-decoration: none;
    font-weight: normal;
    float: left;
    transition: 0.3s;
}
.name_class:hover {
    padding: 1% 0 1% 35px;
    color: #b9a980;
    cursor: pointer;
    text-shadow: #634c1496 0px 2px 1px, #634c1496 0px -2px 1px, #634c1496 2px 0px 1px, #634c1496 -2px 0px 1px, #000000 0px 13px 10px;
    /* transition: 0.23s; */
    /* text-shadow: #634c1496 0px 2px 1px, #634c1496 0px -2px 1px, #634c1496 2px 0px 1px, #634c1496 -2px 0px 1px, #000000 0px 13px 10px; */
}
.name_class-active {
    padding: 1% 0 1% 35px;
    color: #634c1496;
    text-shadow: #eade93a9 0 3px 5px, #eade93a9 0px -3px 5px, #eade93a9 33px -5px 10px, #eade93a9 -3px 0px 5px;
    cursor: pointer;
    /* -webkit-text-stroke: 0.1px #eade93; */
    /* transition: 0.23s; */
}
.name_class-active:hover {
    color: #634c1496;
    text-shadow: #eade93a9 0 3px 5px, #eade93a9 0px -3px 5px, #eade93a9 30px -3px 10px, #eade93a9 -3px 0px 5px;
    /* transition: 0.23s; */
}

.container_class {
    display: none;
    font-size: 0.24rem;
    text-shadow: #000000 2px 2px 2px;
    margin: 0 auto;
    width: 80%;
    transition-duration: 0.3s;
    /* animation-name: container_class_anim;
    animation-iteration-count: infinite;
    animation-delay: 1s; */
}
.container_class-active {
    display: block;
    transition-duration: 0.3s;
}
.container_class_1 {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}
.container-special {
    flex: 3;
    margin:0 10px 0 0;
    background: #5e616042;
}
.h2_in_class {
    color: #eade93;
    background: #5e616042;
    text-shadow: #000000 3px 3px 3px;
    font-size: 0.37rem;
    margin: 0 0 10px 0;
}
.class_table_stats {
    border-spacing:  10px;
    border: 1px solid #BBB175;
    width: max-content;
    margin: auto;
    text-align: left;
}
.container-armor {
    flex: 1;
    background: #5e616042;
}
.container_class_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #5e616042;
    margin: 0 0 10px 0;
}
.container_class_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #5e616042;
}

.weapon_selector_warrior {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: stretch;
    width: 100%;
}
.weapon_selector_warrior div {
    display: flex;
    /* font-size: 0.27rem; */
    /* border: 1px solid #BBB175; */
    width: 33%;
    min-width: max-content;
    height: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition: 1s; */
}
.weapon_selector_warrior div:hover {
   /* border-color: #BBB175;
    border-style: solid; 
    border-width: 1px 0px 5px 0px;
    border-radius: 20px;
    background: #bbb0752d;
    transition: 0.1s;*/ 
    /* background: url(images/sword-left.png) left no-repeat, url(images/sword-right2.png) right no-repeat, url(images/sword_center.png) center no-repeat; */
    background: url(images/sword-center.png) center no-repeat;
    background-size: 83%;
}
.love_weapon_warrior-active {
    background: url(images/sword-center.png) center no-repeat;
    background-size: 83%;
}

.weapon_selector_wizard {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: stretch;
    /* width: 100%; */
}
.weapon_selector_wizard div {
    display: flex;
    border: 9px #3d649e;/*#BBB175*/
    border-style: groove ridge ridge groove;
    width: 47%;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    
}
.school_magic {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: max-content min-content;
    grid-auto-rows: minmax(min-content, min-content);
    margin: 0 0 10px 0;
    background: #5e616042;
    cursor: pointer;
}

.school_magic div:nth-child(1) {
    grid-area: 1/1/3/1;
    /* width: min-content; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border-radius: 10px 0 0 0;
}
.school_magic div:nth-child(2) {
    grid-area: 1/2/3/2;
    width: min-content;
    height: 100%;
    padding: 1vw 1vw 1vw 0;
}
.school_magic div:nth-child(3) {
    grid-area: 1/3/1/3;
    display: flex;
    justify-content: center;
}
.school_magic div:nth-child(4) {
    grid-area: 2/3/2/3;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container_school_magic p{
    text-align: justify;
}

.bg_universalism {
    background: #475f6b;
    font-size: 0.27rem;
}
.bg_illusion {
    background: #CF8F43;
    font-size: 0.27rem;
}
.bg_distruction {
    background: #83352b;
    font-size: 0.27rem;
}

.color_in_universalism h4 {
    color: #bbbee7; /*#869962*/
}
.color_in_illusion h4 {
    color: #d1ab7d;
}
.color_in_distruction h4 {
    color: #bb6d63;
}
.h3_in_school_magic {
    background: #5e616042; /*#5e616042*/
    text-shadow: #000000 3px 3px 3px;
    font-size: 0.32rem;
    font-family: 'XXII Arabian OneNightStand Cyr', fantasy;
    padding: 5px 0 5px 40px;
    color: #7c95a0;
}

.h3_in_rogue {
    background: #5e616042; /*#5e616042*/
    text-shadow: #000000 3px 3px 3px;
    font-size: 0.32rem;
    font-family: 'ArabiaCyrillic-Regular', fantasy;
    padding: 5px 0 5px 0;
    min-width: max-content;
    color: #9973b3;
}
.rogue ul {
    width: max-content;
    margin: 0 auto;
    text-align: left;
    /* padding: 0 0 0 70px;
    /*list-style-image: url('images/daggers.png'); */
    /* list-style-type: symbols(); */
}
.container_rogue_skill {
    display: flex;
    flex-flow: row;
    align-content: stretch;
    justify-content: center;
    width: 100%;
}
.container_rogue_skill div:nth-child(1){
    margin: 0 10px 0 0;
}
.container_rogue_skill div:nth-child(2){
    width: min-content;
    min-width: 35%;
}
.container_rogue_skill div {
}
.container_rogue_skill p {
    text-align: justify;
}

.h3_in_priest {
    background: #5e616042; /*#5e616042*/
    text-shadow: #000000 3px 3px 3px;
    font-size: 0.32rem;
    font-family: 'Kanonnik UCS', fantasy;
    padding: 5px 0 5px 0;
    min-width: max-content;
    color: #aac3d4;
}

.h4_in_priest {
    background: #5e616042; /*#5e616042*/
    text-shadow: #000000 3px 3px 3px;
    font-size: 0.27rem;
    font-family: 'Kanonnik UCS', fantasy;
    padding: 5px 0 5px 0;
    min-width: max-content;
    color: #aac3d4;
}
.container_priest_skill {
    display: flex;
    flex-flow: row;
    align-content: stretch;
    justify-content: center;
    width: 100%;
}
.container_priest_skill div:nth-child(1){
    margin: 0 10px 0 0;
}
.container_priest_skill div:nth-child(2){
    /* width: min-content; */
    min-width: 50%;
}
.container_priest_skill p {
    text-align: justify;
}

.warrior, .wizard, .rogue, .priest {
    padding: 20px;
}

.warrior {
    background: radial-gradient(#24060670, #240606), url(images/warrior_ver3.jpg)top no-repeat fixed;
    background-size: 100%;
}
.warrior a {
    font-family: 'ljk_Remains', cursive;
    font-size: 1rem;
}

.wizard {
    background: radial-gradient(#05203670, #052036), url(images/wizard_ver2.jpg) top no-repeat fixed;
    background-size: 100%;
}
.wizard a {
    font-family: 'XXII Arabian OneNightStand Cyr', fantasy;
}

.rogue {
    background: radial-gradient(#28123570, #362541),  url(images/rogue.jpg) top no-repeat fixed;
    background-size: 100%;
}
.rogue a {
    font-family: 'ArabiaCyrillic-Regular', fantasy;
}

.priest {
    background: radial-gradient( #465a6870, #465a68), url(images/priest.jpg) top no-repeat fixed;
    background-size: 100%;
}
.priest a{
    font-family: 'Kanonnik UCS', fantasy;
}

.select_stats_block {
    display: none;
}
.plant {
    height: 500px;
}
.coin {
    height: 1000px;
}
.coin img{
    width: 150px;
}

.footer {
    background:#686052;
    text-align: center;
}
.h1_in_footer {
    color: #eade93;
    font-size: 0.87rem;
    text-shadow: #412d27 0 10px 10px;
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.next_button, .previous_button {
    outline: none;
    background: #8b816d;
    border-width: 10px;
    border-style: solid;
    border-color: #686052;
    height: 125px;
    transition-duration: 0.25s;
    height: min-content;
}
.next_button:enabled, .previous_button:enabled {
    cursor: pointer;
}
.next_button:disabled, .previous_button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.next_button:active, .previous_button:active {
    animation: stop;
}

.name_class:link {                  
	color: none;         
}
.name_class:visited {
	color: none;
}
.name_class:active {                  
	color: none;         
}
.name_class:focus {                  
	color: none;         
}
.name_class:hover {
    color: none;
}
/* @keyframes button {
    from {
        border-style: outset;
        box-shadow: 6px 7px 4px 5px #220c0c;
    }
    49% {
        border-style: outset;
        box-shadow: 0px 0px 0px 0px #220c0c;
    }
    50% {
        border-style: inset;
        box-shadow: inset 0px 0px 0px 0px #220c0c;
    }
    to {
        border-style: inset;
        box-shadow: inset 7px 6px 4px 5px #220c0c;
    }
}
@keyframes h1anim {
    from {
        padding-top: 0;
    }
    to {
        padding-top: 8px;
    }
} */

@keyframes container_class_anim {
    from {
        display: none;
        height: 0%;
    }
    to {
        display: block;
        height: 100px;

    }
}












.paint {
color: #4d362e;
color: #eade93;
color: #55504a; 
color: #5c4034;
color: #e6e6fa;
color: lavender;
color: #8b816d; /*задний фон*/
color: #978c76; /*h2*/
color: #686052;
color: #de343c;
color: #3f3c38;
}




















.start {
    display: block;
    font-size: 150% ;
    color: #bf373e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#eade93;
    background: #55504a;
    width: min-content;
    border: 10px #eade93; /*#d0996d*/
    border-style: solid;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
    transition: box-shadow 0.2s, color 0.2s;
	cursor: pointer;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 3.05s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.start:link {                  
	color: none;         
}
.start:visited {
	color: none;
}
.start:active {                  
	color: none;         
}
.start:focus {                  
	color: none;         
}
.start:hover {
    text-decoration: none;
	box-shadow: inset 0 0 120px 60px #8b816d;
}


@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        background: #8b816d;
        box-shadow: inset 0px 0px 0px 0px #972424;
    }
    5% {
        -webkit-transform: scale3d(1.04, 1.04, 1.04);
        transform: scale3d(1.04, 1.04, 1.04);
        /* background: #4d4842; */
        box-shadow: inset 0px 0px 40px 1px #972424;
    }
    10% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        background: #8b816d;
        box-shadow: inset 0px 0px 0px 0px #972424;
    }
    15% {
        -webkit-transform: scale3d(1.04, 1.04, 1.04);
        transform: scale3d(1.04, 1.04, 1.04);
        /* background: #4d4842; */
        box-shadow: inset 0px 0px 40px 1px #972424;
    }
    20% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        box-shadow: inset 0px 0px 0px 0px #972424;
         
    }
    50% {
        background: #8b816d;
        
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        box-shadow: inset 0px 0px 0px 0px #972424;
    }
}

@media (max-width: 1919px) {
    .dwarf_row, .elf_row, .human_row {
        flex-direction: column;
        align-items: stretch;
    }
    .flowers {
        justify-content: space-around;
    }
    .flowers img{
        transform: rotate(90deg);
        margin: -170px 0px -175px 43%;
        max-height: 420px;
    }
    .photo_EF_EM {
        order: 0;
    }
}
@media (max-width: 1000px) {
    .photo {
        height: 330px;
    }
    .container_class {
        width: 100%;
    }
    .container_class_1 {
        justify-content: center;
        flex-direction: column;
    }
    .container-special {
        flex: 3;
        margin:0 0px 10px 0;
        background: #5e616042; /*#5e616042*/
    }
    /* .weapon_selector_warrior {
        font-size: 0.20rem;
    } */
    .class_table {
        width: 100%;
    }
    .name_class_background {
        height: 90px;
        line-height: 90px;
    }
    .logo img {
        width: 480px;
    }
    html {
        font-size: 58px;
    }
    .bg_universalism img {
        width: 3vw;
    }
    .bg_illusion img {
        width: 3vw;
    }
    .bg_distruction img {
        width: 3vw;
    }
    
    .warrior, .wizard, .rogue, .priest {
        padding: 5px;
    }
}
/* @media (max-width: 499px) {
    * {
        display: fixed;
        min-width: min-content;
    }
    html {
        overflow-x: auto;
    }
} */
